.nav-items{
    display: flex;
    flex-wrap: nowrap;
    list-style-type: none;
    margin: 0px;
}
.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header{
    border-bottom: 1px solid white;
}
.nav-items li{
    padding: 20px;
}
.nav img{
    width: 70px;
    height: 70px;
}
.head-name{
    margin-right: auto;
}
.footer{
    background-color: lightslategray;
    margin: 0px;
    height: 30px;
    padding: 20px;
}
.body-list li{
    padding-top:30px;
}
.page-body{
    background-color: rgb(13, 13, 15);
    color:white;
}
.topic{
    margin: 40px;
}